In [1]:
def fact(n):
    if(n<2): 
        return 1
    else:    
        return n*fact(n-1)

fact(5)

120

In [12]:
%whos

Variable   Type        Data/Info
--------------------------------
fact       function    <function fact at 0x7f0c6c4f89d0>
x          int         5
y          float       5.5
z          str         Men

In [38]:
x = 5
y = 5.5
z = "Men"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'str'>

In [13]:
%whos

Variable   Type        Data/Info
--------------------------------
fact       function    <function fact at 0x7f0c6c4f89d0>
x          int         5
y          float       5.5
z          str         Men

In [15]:
x**3

125

In [16]:
y/x

1.1

In [18]:
y//x

1.0

In [26]:
a = True
b = False
c = a and b
d = a or b
e = not(b or c)

In [27]:
%whos

Variable   Type        Data/Info
--------------------------------
a          bool        True
b          bool        False
c          bool        False
d          bool        True
e          bool        True
fact       function    <function fact at 0x7f0c6c158c10>
x          int         5
y          float       5.5
z          str         Men

In [32]:
age = 17
if(age>=18):
    print('You are eligible to vote')
else:
    print('You are not eligible to vote')

You are eligible to vote

In [49]:
G = divmod(27,5)
G

(5, 2)

In [47]:
type(G)

tuple

In [53]:
isinstance(2+3j,(float,int,str,complex))

True

In [54]:
pow(2,3)

8

In [56]:
# Calculates power and pow%3
pow(2,3,3)

2

In [58]:
name = input("Enter your name: ")
print(name)

Enter your name:  Abrar

Abrar

In [64]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if(num1>num2):
    print(num1)
else:
    print(num2)

Enter first number:  5
Enter second number:  2

5

In [69]:
num = int(input("Enter number: "))
i = 1
while i <= num:
    print(i)
    i = i+1;

Enter number:  5

1
2
3
4
5

In [76]:
l = []
for i in range(0,20,2):
    l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [86]:
S = {"abrar",25,"hala"}
for x in S:
    print(x)
else:
    print("Loop ended!")

abrar
25
hala
Loop ended!

In [88]:
dic = {'name':'abrar','age':20,'dept':'CS'}
for key in dic:
    print(key,dic[key])
else:
    print("Loop ended!")

name abrar
age 20
dept CS
Loop ended!

In [104]:
def sortList(lis):
    size = len(lis)
    for i in range(size):
        for j in range(size-1):
            if(lis[i] < lis[j]):
                temp = lis[i]
                lis[i] = lis[j]
                lis[j] = temp
    return lis

lis = [1,2,4,-5,7,9,3,2]
print(sortList(lis))

[-5, 1, 2, 2, 3, 4, 7, 9]

In [111]:
def addNums(*args):
    sum = 0
    for num in args:
        sum += num;
    return sum

print(addNums(1,2,3,4))

10

In [115]:
def printValues(**args):
    for i in args:
        print(i,args[i])

printValues(a = 1,b = 2,c = 3,d = 4)

a 1
b 2
c 3
d 4

In [2]:
import sys
sys.path.append("/home/abrar/Python Practice/")

In [5]:
import myModule as module

print(module.addNums(1,2,3,4))

module.printValues(a = 1,b = 2,c = 3,d = 4)

print(module.sortList([1,2,4,-5,7,9,3,2]))

10
a 1
b 2
c 3
d 4
[-5, 1, 2, 2, 3, 4, 7, 9]

In [25]:
a = 'Abrar Ahmed'
# a[-11:-6]
# a[0:11:2]
# a[6:]
# a[:5]
a[::-1]

'demhA rarbA'

In [26]:
s = '   This is a String   '
s.strip()

'This is a String'

In [28]:
s.split(' ')

['', '', '', 'This', 'is', 'a', 'String', '', '', '']

In [29]:
s.upper()

'   THIS IS A STRING   '

In [30]:
s.lower()

'   this is a string   '

In [31]:
s.strip().lower()

'this is a string'

In [32]:
s.strip().upper()

'THIS IS A STRING'

In [35]:
s.replace('String','New String')

'   This is a New String   '

# Data Structures

In [55]:
L = [1,2,3,'abrar']
S = {1,2,2,3,4,5,5,'ab','ab'}
T = (1,2,2,3,'ab','ab')
D = {1:'One',2:'Two',3:'Three'}

In [57]:
print('Type of L',type(L),'\tValues: ',L)
print('Type of S',type(S),'\tValues: ',S)
print('Type of T',type(T),'\tValues: ',T)
print('Type of D',type(D),'\tValues: ',D)

Type of L <class 'list'> 	Values:  [1, 2, 3, 'abrar']
Type of S <class 'set'> 	Values:  {1, 2, 3, 4, 5, 'ab'}
Type of T <class 'tuple'> 	Values:  (1, 2, 2, 3, 'ab', 'ab')
Type of D <class 'dict'> 	Values:  {1: 'One', 2: 'Two', 3: 'Three'}

In [58]:
print(L[1])
print(T[1])
print(D[1])
print(1 in S)

2
2
One
True

In [65]:
print(L[-1])
print(L[1:])
print(T[-2])
print(T[:2])

abrar
[2, 3, 'abrar']
ab
(1, 2)

In [78]:
L += ['extra1','extra2'] 
L.append('extra3')
L

In [80]:
# Tuple is immutable
T2 = (1,2,6)
T3 = T + T2
T3

(1, 2, 2, 3, 'ab', 'ab', 1, 2, 6)

In [81]:
S.add('abrar')
S

{1, 2, 3, 4, 5, 'ab', 'abrar'}

In [82]:
S.update({'a','b','c'})
S

{1, 2, 3, 4, 5, 'a', 'ab', 'abrar', 'b', 'c'}

In [87]:
D[4] = 'Four'
del D[1]
D

{2: 'Two', 3: 'Three', 4: 'Four'}

In [88]:
D.update({1:'One Again'})
D

{2: 'Two', 3: 'Three', 4: 'Four', 1: 'One Again'}

In [89]:
D2 = D.copy()
D2

{2: 'Two', 3: 'Three', 4: 'Four', 1: 'One Again'}

In [93]:
X = [x**2 for x in range(11)]
X

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [94]:
S2 = {x**2 for x in range(11)}
S2

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [96]:
D3 = {}
def getStudentsData():
    for i in range (5):
        name = input('Enter Your Name: ')
        rollNo = input('Enter Your Roll No: ')
        D3[i+1] = {'Name':name,'Roll No':rollNo}

getStudentsData()
D3

Enter Your Name:  Abrar
Enter Your Roll No:  21bscs20
Enter Your Name:  Faizan
Enter Your Roll No:  21bscs27
Enter Your Name:  Farhad
Enter Your Roll No:  21bscs34
Enter Your Name:  Taha
Enter Your Roll No:  21bscs22
Enter Your Name:  Shoaib
Enter Your Roll No:  21bscs37

{1: {'Name': 'Abrar', 'Roll No': '21bscs20'},
 2: {'Name': 'Faizan', 'Roll No': '21bscs27'},
 3: {'Name': 'Farhad', 'Roll No': '21bscs34'},
 4: {'Name': 'Taha', 'Roll No': '21bscs22'},
 5: {'Name': 'Shoaib', 'Roll No': '21bscs37'}}

In [101]:
D4 = {1:[53,84,67],
     2:[72,64,57], 
     3:[75,54,97],}

D5 = {}

def getAverageMarks():
    for i in D4:
        sum = 0
        marks = D4[i]
        size = len(marks)
        for score in marks:
            sum+=score
        D5[i] = sum/size
        
getAverageMarks()

D5

{1: 68.0, 2: 64.33333333333333, 3: 75.33333333333333}