In [2]:
import pandas as pd

In [4]:
data = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [6]:
data.values

array([1, 2, 3, 4, 5])

In [29]:
type(data.values)

numpy.ndarray

In [8]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [30]:
type(data.index)

pandas.core.indexes.base.Index

In [14]:
data['a']

np.int64(1)

In [17]:
data['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
data['a':'d':2]

a    1
c    3
dtype: int64

In [26]:
data2 = pd.Series([1,2,3,4])

In [31]:
data2[0:3]

0    0
1    1
2    2
dtype: int64

In [32]:
# Dictonaries to pd.Series

In [73]:
grades_dict = {'A':4.0, 'B':3.5, 'C':3.0, 'D':2.5}
grades = pd.Series(grades_dict)

In [74]:
marks_dict = {'A':85, 'B':75, 'C':65, 'D':55}
marks = pd.Series(marks_dict)

In [157]:
res = pd.DataFrame({'Marks':marks,'Grades':grades})
res['Percentage'] = res['Marks'].astype(str)+'%'

In [171]:
res

   Marks  Grades Percentage
A     85     4.0        85%
B     75     3.5        75%
C     65     3.0        65%
D     55     2.5        55%

In [170]:
res.T

              A    B    C    D
Marks        85   75   65   55
Grades      4.0  3.5  3.0  2.5
Percentage  85%  75%  65%  55%

In [169]:
print(res.index)
print(res.columns)
print(res.values)

Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['Marks', 'Grades', 'Percentage'], dtype='object')
[[85 4.0 '85%']
 [75 3.5 '75%']
 [65 3.0 '65%']
 [55 2.5 '55%']]

In [168]:
G = res[res['Grades'] > 3]
G

   Marks  Grades Percentage
A     85     4.0        85%
B     75     3.5        75%

In [167]:
M = res[res['Marks'] > 60]
M

   Marks  Grades Percentage
A     85     4.0        85%
B     75     3.5        75%
C     65     3.0        65%

In [92]:
#Handle NaN values

In [111]:
a = {'a':1,'b':2}
b = {'b':3,'c':4}
c = pd.DataFrame({'A':a, 'B':b}).T

In [104]:
c

     a    b    c
A  1.0  2.0  NaN
B  NaN  3.0  4.0

In [112]:
c.fillna(0)

     a    b    c
A  1.0  2.0  0.0
B  0.0  3.0  4.0

In [116]:
c

     a    b    c
A  1.0  2.0  NaN
B  NaN  3.0  4.0

In [118]:
c.dropna()

Empty DataFrame
Columns: [a, b, c]
Index: []

In [121]:
a = pd.Series(['a','b','c'], index=[1,2,3])
a

1    a
2    b
3    c
dtype: object

In [126]:
a[1:3] # uses implicit index

2    b
3    c
dtype: object

In [128]:
a.loc[1:3] # uses explicit index

1    a
2    b
3    c
dtype: object

In [166]:
a.iloc[1:3] # uses implicit index

2    b
3    c
dtype: object

In [165]:
res

   Marks  Grades Percentage
A     85     4.0        85%
B     75     3.5        75%
C     65     3.0        65%
D     55     2.5        55%

In [164]:
res[::-1]

   Marks  Grades Percentage
D     55     2.5        55%
C     65     3.0        65%
B     75     3.5        75%
A     85     4.0        85%

In [163]:
res.loc[::-1]

   Marks  Grades Percentage
D     55     2.5        55%
C     65     3.0        65%
B     75     3.5        75%
A     85     4.0        85%

In [162]:
res.loc[::-1,:]

   Marks  Grades Percentage
D     55     2.5        55%
C     65     3.0        65%
B     75     3.5        75%
A     85     4.0        85%

In [161]:
res.iloc[::-1]

   Marks  Grades Percentage
D     55     2.5        55%
C     65     3.0        65%
B     75     3.5        75%
A     85     4.0        85%

In [160]:
res.iloc[::-1,:]

   Marks  Grades Percentage
D     55     2.5        55%
C     65     3.0        65%
B     75     3.5        75%
A     85     4.0        85%

In [159]:
res.iloc[2,:]

Marks          65
Grades        3.0
Percentage    65%
Name: C, dtype: object